*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(image\ \(1\).png);

}

.container{
    margin: auto;
    background-color: blue;
    width: 1300px;
    margin-top: 2vh;

}

.container video{
    margin:auto;
}